extends layout

block content
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@500&display=swap" rel="stylesheet")
  body()
    h1 Thank you for playing!
    div(id='endScoreboard')
      h2(id='scoreboardTitle') These are the final scores!
      div(id='endScoreCards')
        if scores
          for score in scores
            div(class='scoreContainer' style= score.delay)
              p(class='scoreUsername') #{score.user}
              p(class='scorePoint') #{score.points}
      

   
