extends layout

block content
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@500&display=swap" rel="stylesheet")
  body(onload='async function delay(n){return new Promise(function(resolve){setTimeout(resolve,n*1000);});};async function main(){var continueloop = true;while (continueloop){await delay(2);window.location="display";};};main()' id='displayBody')

    div(class='doubleColumn')
      div(class='Column')
        h1 What prompt do you think was given to the AI that generated this image?
        h2 Round #{round+1} 
        h3 Use your device to answer
      div(class='Column')
        img(src= image id='image')