extends layout

block content
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@500&display=swap" rel="stylesheet")
  body(onload='async function delay(n){return new Promise(function(resolve){setTimeout(resolve,n*1000);});};async function main(){var continueloop = true;while (continueloop){await delay(1);window.location="display";};};main()' class='displayBody')
    div(class='doubleColumn')
      div(class='Column')
        h1 Which of these do you think is the real prompt?
        h3 Vote on your devices now!
        if prompts
            for prompt in prompts
              div(class='promptContainer')
                div(class='userPrompt stage2div') 
                  p(class='whatTheUserWrote stage2p') #{prompt.answer}
      div(class='Column')
        img(src= image id='image')

   
