extends layout

block content
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@500&display=swap" rel="stylesheet")
  body( onload= onLoadFunction )
    div(id="game")
      h2(class='') Please select the prompt that you believe is correct
      h3 you have 1 minute
      div(class='promptProgressBar')
      

      if prompts
        for prompt in prompts 
          form(action='/prompts' method='POST' class='promptContainerForm' id=prompt['user'])
            label(for= prompt['answer'] class='promptLabel') #{prompt['answer']}
            input(class='hidden', type='text', name='prompt' value= prompt['answer'])
            input(class='hidden usernameInput' type='text', name='username')
            input(type="submit", value="submit" class='promptContainerSubmit')